<header>
  <h1>New York Pizza</h1>
</header>
<div>
  <div class='search'>
    <h2>
      <%= form_tag("/", method: "get") do %>
        <%= label_tag(:q, "Search for a pizza joint in NYC:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </h2>
  </div>
  <br/>
  <div>
    <% @results.each do |result| %>
      <div class='pre pizza-joint'>
        <span><%= link_to result['name'], "/#{result['id']}" %></span>
        <span><%= result['rating'] %> stars from <%= result['review_count'] %> reviews </span>
        <span><%= result['categories'].first['title'] %></span>
        <span><%= result['location']['address1'] %></span>
      </div>
    <% end %>
  </div>
</div>
